*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

.container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}


.logo{
    overflow: hidden;
    height: 50px;
    width: 50px;
}
.logo img{
    padding-left: 0.5em;
    padding-top: 0.2em;
    width: 100%;
    object-fit: contain;
}

.list li {
    display: inline;
    list-style: none;
    padding: 1em;
}
a{
    text-decoration: none;
}
li:hover{
    background-color:#f6ead9;
    border-radius: 1em;
}

.hero_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#f6ead9;
}
.heroImg{
    width: 100vw;
    height: 100vh;
}
.heroImg img{
    width: 250px;
    height: auto;
}



